Repository conradhodge/next-tram: changes, and which lint-staged commands are due for each by the changed paths.
All: go vet, golangci-lint run, make test-go, eslint --cache --fix, make test-cdk

Add prettier
  .eslintrc.json
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/golangci-lint.yml
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  .vscode/settings.json
  Makefile
  infrastructure/bin/next-tram.ts
  infrastructure/lib/constructs/get-next-tram-lambda.ts
  infrastructure/lib/next-tram-stack.ts
  infrastructure/test/constructs/get-next-tram-lambda.test.ts
  infrastructure/test/next-next-tram.test.ts
  jest.config.js
  package-lock.json
  package.json
  tsconfig.json
Due: eslint --cache --fix, make test-cdk

Split build and deploy GitHub actions
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  Makefile
Due: none

Update deploy GitHub action
  .github/workflows/deploy.yml
Due: none

Report code coverage
  .github/workflows/build.yml
Due: none

Fix build for master branch
  .github/workflows/build.yml
Due: none

Add husky and lint-staged
  .gitignore
  .husky/.gitignore
  .husky/pre-commit
  .lintstagedrc.json
  Makefile
  package-lock.json
  package.json
  scripts/githooks/post-checkout
  scripts/githooks/post-merge
  scripts/githooks/pre-commit
  scripts/install-hooks.js
Due: none

Update dependencies
  go.mod
  go.sum
  package-lock.json
  package.json
Due: none

Update GitHub actions for master to main
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/golangci-lint.yml
Due: none

Fix deploy GitHub action
  .github/workflows/deploy.yml
  Makefile
  infrastructure/lib/constructs/get-next-tram-lambda.ts
Due: eslint --cache --fix, make test-cdk

Update build badge
  README.md
Due: none

Use conradhodge/travel-api-client
  .gitignore
  Makefile
  go.mod
  go.sum
  infrastructure/lib/constructs/get-next-tram-lambda.ts
  lambda/get-next-tram/main.go
  lambda/get-next-tram/time.go
  lambda/get-next-tram/tram.go
  lambda/get-next-tram/tram_test.go
  sonar-project.properties
  src/lambda/get-next-tram/main.go
  src/lib/matcher/guid.go
  src/lib/matcher/guid_test.go
  src/lib/transport/errors.go
  src/lib/transport/errors_test.go
  src/lib/transport/transport.go
  src/lib/transport/traveline.go
  src/lib/transport/traveline_test.go
  src/lib/traveline/client.go
  src/lib/traveline/client_test.go
  src/lib/traveline/const.go
  src/lib/traveline/errors.go
  src/lib/traveline/errors_test.go
  src/lib/traveline/traveline.go
  src/lib/traveline/types.go
Due: go vet, golangci-lint run, make test-go, eslint --cache --fix, make test-cdk

Update travel-api-client
  .lintstagedrc.json
  go.mod
  go.sum
  lambda/get-next-tram/tram.go
  lambda/get-next-tram/tram_test.go
Due: go vet, golangci-lint run, make test-go

Include minutes to departure time
  lambda/get-next-tram/main.go
  lambda/get-next-tram/tram.go
  lambda/get-next-tram/tram_test.go
Due: go vet, golangci-lint run, make test-go

Fix bug when expected time is nil
  lambda/get-next-tram/tram.go
  lambda/get-next-tram/tram_test.go
Due: go vet, golangci-lint run, make test-go

Update message when tram due
  lambda/get-next-tram/tram.go
  lambda/get-next-tram/tram_test.go
Due: go vet, golangci-lint run, make test-go

Improve message when tram due in one minute
  lambda/get-next-tram/tram.go
  lambda/get-next-tram/tram_test.go
Due: go vet, golangci-lint run, make test-go

Grouped Makefile documentation
  Makefile
Due: none

Update to npm 8
  package-lock.json
Due: none

Update npm dependencies
  package-lock.json
  package.json
Due: none

UPdate to Go 1.17
  go.mod
  go.sum
Due: none

Path conditions:
  go vet: any of: *.go
  golangci-lint run: any of: *.go
  make test-go: any of: *.go
  eslint --cache --fix: any of: *.ts
  make test-cdk: any of: *.ts
