Repository conradhodge/next-tram: changes, and which lint-staged commands are due for each by the changed paths.
All: make vet-go, make lint-go, make test-go, eslint --cache --fix, make test-cdk, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.go": ["make vet-go", "make lint-go", "make test-go"],
  "*.ts": ["eslint --cache --fix", "make test-cdk"],
  "**/*": "prettier --write --ignore-unknown"
}

Update Go dependencies
  go.mod
  go.sum
Due: prettier --write --ignore-unknown

UPdate to Go 1.17
  go.mod
  go.sum
Due: prettier --write --ignore-unknown

Update to npm 8
  package-lock.json
Due: prettier --write --ignore-unknown

Update npm dependencies
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Update dependencies
  go.mod
  go.sum
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Install golangci-lint locally
  .gitignore
  .golangci.yml
  Makefile
Due: prettier --write --ignore-unknown

Update to CDK v2
  cdk.context.json
  infrastructure/bin/next-tram.ts
  infrastructure/lib/constructs/get-next-tram-lambda.ts
  infrastructure/lib/next-tram-stack.ts
  infrastructure/test/constructs/get-next-tram-lambda.test.ts
  infrastructure/test/next-next-tram.test.ts
  package-lock.json
  package.json
Due: eslint --cache --fix, make test-cdk, prettier --write --ignore-unknown

Output departure time in correct timezone
  cdk.json
  infrastructure/lib/constructs/get-next-tram-lambda.ts
  infrastructure/lib/next-tram-stack.ts
  infrastructure/test/cdk.json
  infrastructure/test/constructs/get-next-tram-lambda.test.ts
  infrastructure/test/next-next-tram.test.ts
  lambda/get-next-tram/main.go
  lambda/get-next-tram/tram.go
  lambda/get-next-tram/tram_test.go
Due: make vet-go, make lint-go, make test-go, eslint --cache --fix, make test-cdk, prettier --write --ignore-unknown

Fix typo in localTimezone CDK variable
  cdk.json
Due: prettier --write --ignore-unknown

Add details to run Lambda locally with AWS SAM
  .vscode/launch.json
  Makefile
  README.md
  cdk.json
  sam-event.json
Due: prettier --write --ignore-unknown

Update dependencies
  .github/workflows/build.yml
  go.mod
  go.sum
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Update dependencies
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/golangci-lint.yml
  .golangci.yml
  go.mod
  go.sum
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Update Lambda runtime`
  infrastructure/lib/constructs/get-next-tram-lambda.ts
  infrastructure/test/constructs/get-next-tram-lambda.test.ts
  infrastructure/test/next-next-tram.test.ts
Due: eslint --cache --fix, make test-cdk, prettier --write --ignore-unknown

Switch Lambda runtime
  infrastructure/lib/constructs/get-next-tram-lambda.ts
  infrastructure/test/constructs/get-next-tram-lambda.test.ts
  infrastructure/test/next-next-tram.test.ts
Due: eslint --cache --fix, make test-cdk, prettier --write --ignore-unknown

Update Lambda binary filename
  .gitignore
  Makefile
  infrastructure/lib/constructs/get-next-tram-lambda.ts
  infrastructure/test/constructs/get-next-tram-lambda.test.ts
  infrastructure/test/next-next-tram.test.ts
Due: eslint --cache --fix, make test-cdk, prettier --write --ignore-unknown

Update Lambda runtime
  infrastructure/lib/constructs/get-next-tram-lambda.ts
  infrastructure/test/constructs/get-next-tram-lambda.test.ts
  infrastructure/test/next-next-tram.test.ts
Due: eslint --cache --fix, make test-cdk, prettier --write --ignore-unknown

Fix issue with GLIBC_2.32 not found
  Makefile
Due: prettier --write --ignore-unknown

Fix Unknown time zone issue
  lambda/get-next-tram/tram.go
Due: make vet-go, make lint-go, make test-go, prettier --write --ignore-unknown
